.admin-panel-content {
  background-color: #f0ebef;
  height: 39rem;
  display: flex;
  flex-direction: row;
  padding: 2em;
}

.admin-panel-content-left {
  flex: 1;
  margin-right: 1%;
}
.admin-panel-content-right {
  flex: 4;
}

.admin-panel > h2 {
  color: #6b6a6a;
  font-size: larger;
  padding-left: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-weight: 500;
}
